[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
waitress = "*"
py-mon = "*"
watchdog = "*"
python-decouple = "*"
flask-migrate = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
